@model BillVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BillList</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }

        th, td {
            background-color: #96D4D4;
        }
    </style>
</head>
<body>
    <header>
        <div class="bg-slate-900 max-w-full h-24 flex flex-row">
            <div class="ml-2 flex flex-row pt-4">
                <img class="h-16 w-16" src="~/Images/61177330982724000a19b190.png" />
                <label class="text-3xl ml-1 mt-2 font-mono text-slate-400 ">Invoice Processing Company</label>
            </div>

            <a class="pt-8 ml-2 text-xl font-bold text-slate-300" href="/Product/ProductList">List Product</a>

            <a class="pt-8 ml-2 text-xl font-bold text-slate-300" href="/Home/AppUserList">List User</a>

            <a class="pt-8 ml-2 text-xl font-bold text-slate-300" href="/Bill/BillAdd">Bill Add</a>


        </div>
    </header>



    <section>
        <table class="table-fixed border-collapse border border-slate-500">
            <thead>
                <tr>
                    @{ 
                        int lenght = 0;
                    } 
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E Mail</th>
                    <th colspan="@lenght">Products</th>
                    <th>Total Price</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserBill item in Model.UserBills)
                {
                    int index = 0;
                    <tr>
                        <td>@item.AppUser.FirstName</td>
                        <td>@item.AppUser.LastName</td>
                        <td>@item.AppUser.EMail</td>

                        @{
                            lenght = item.Products.Count;
                        }

                    <td>

                        <select>

                            
                            @foreach (Product myItem in item.Products)
                            {
                                <option>
                                    
                                  Name:@myItem.Name Quantity:@myItem.Quantity Price:@myItem.Price

                                </option>

                               


                            }
                            
                        </select>

                       

                    </td>

                            <td>@item.TotalPrice</td>

                            @index++;

                            <td class="text-amber-700 font-bold">@Html.ActionLink("Update", "BillUpdate", new { billID = item.BillID,appUserID = item.AppUserID })</td>
                            <td class="text-red-700 font-bold">@Html.ActionLink("Delete", "BillDelete", new { billID = item.BillID, appUserID = item.AppUserID })</td>
                        </tr>

                }
            </tbody>



        </table>
        <label class="text-xl text-amber-700">@TempData["info"]</label>
    </section>
</body>
</html>
