@model BillVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BillUpdate</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="bg-slate-900 max-w-full h-24">
            <div class="ml-2 flex flex-row pt-4">
                <img class="h-16 w-16" src="~/Images/61177330982724000a19b190.png" />
                <label class="text-3xl ml-1 mt-2 font-mono text-slate-400 ">Invoice Processing Company</label>
            </div>


        </div>
    </header>


    <section>
        @using (Html.BeginForm("BillUpdate", "Bill", FormMethod.Post))
        {
            foreach (Product item in Model.userBill.Products)
            {
                <input type="checkbox" checked="checked" id="@item.ID" name="product" value="@item.ID">
                <label>@item.Name</label> <label>@item.Price</label>
                <input value="@item.Quantity" type="number" id="@item.Name" name="quantity" min="0"><br>
                <input name="billID" type="hidden" value="@Model.userBill.BillID" />

            }

            <div class="">
                <button name="user" value="@Model.userBill.AppUser.ID" class=" mt-4 bg-blue-700 hover:bg-blue-600 text-sky-50 font-bold  py-2 px-4 rounded focus:outline-none focus:shadow-outline" style="height:50px;width:200px">
                    Update Bill
                </button>

            </div>

        }


    </section>
</body>
</html>
